* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar {
    height: 60px;
}

.navbar, .header {
    background-color: #1F2937;
}

.navbar li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}