* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
}

/* ---------Navbar css-------- */

ul {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar {
    height: 60px;
}

.navbar, .header {
    background-color: #1F2937;
}

.navbar li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}


/* ---------Header css-------- */

.header {
    min-height: 350px;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    line-height: 1;
}

.header img {
    max-width: 400px;
    margin: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container p {
    font-size: 18px;
    color: #E5E7EB;
}

/* ---------Sign up button css-------- */

.button {
    font-size: 18px;
    color: #E5E7EB;
    width: 100px;
    margin: 10px 0px;
    padding: 5px;
    text-align: center;
    background-color: #3882F6;
    border-radius: 5px;
    text-decoration: none;
    display: block;
}

.button:hover {
    color:lightblue;
}

/* ---------Information section css-------- */

.boxes {
    margin: 40px 0px;
}

.boxes .information {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin-bottom: 20px;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.image-box {
    flex: 1;
    margin: 10px 10px;
    max-width: 300px;
}

.image-box img {
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
}

/* ---------Quote section css-------- */

.quote {
    background-color: #E5E7EB;
}

.quote .container {
    display: flex;
    justify-content: center;
}




